@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* button value aria-label="Insert File" hidden */
  button[aria-label="Insert file"], button[aria-label="Insert Image"], button[aria-label="Insert youtube/vimeo video"] {
    display: none;
  }
  .jodit-status-bar__item-right {
    display: none;
  }



  .animate-fadeIn {
    animation-name: fadeIn;
}
